
@{
    ViewBag.Title = "SendEmail";
}
<div class="container" style="margin-left:0%">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Createv">Create new voting </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Addcand">Add candidates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="addvoter">Add voters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="viewall">Result</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="SendEmail">Send mail</a>
        </li>
    </ul>
</div>
<hr />
<form method="post" action="SendEmail">
    <div class="container">
        <span class="form-control-static"> Receiver: </span>
        <input class="form-control" type="text" name="receiver" /> <br />
        <span class="form-control-static"> Subject: </span>
        <input class="form-control" type="text" name="subject" /> <br>

        <span class="form-control-static"> Message: </span>
        <input class="form-control" type="text" name="message" /> <br />
        <input class="btn btn-primary btn-block" type="submit" value="Send" />
    </div>
</form>
<br>
