@model demo2.Models.cand
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 style="color:darkorange">WINNER</h1>
    <h1>Name: @Model.Name</h1>
    <h1>Profession: @Model.profession</h1>
    <a role="button" class="btn btn-success" asp-action="Viewall">Back</a>
</div>